@{
    ViewData["Title"] = "Home Page";
}
<html>
<link rel="stylesheet" href="~/css/style.css"/>
<body>
    <h5 style="text-align:center; color:#285A84;">Bitkiler hakkında bilgi sahibi olun ve koleksiyonunuzu büyütün!</h5>
    <div class="container">
        <div class="plant-card">
            <img src="~/img/papatya.png" alt="Bitki Resmi">
            <h3>Papatya</h3>
            <p>Bakım: Çiçeğin sağlıklı bir gelişim göstermesi için 2-3 günde bir sulama işlemi yapmanız yeterli olacaktır.</p>
            <p>Kategori: İç ve dış mekan</p>
        </div>
        <div class="plant-card">
            <img src="~/img/menekse.png" alt="Bitki Resmi">
            <h3>Menekşe</h3>
            <p>Bakım: Ortalama olarak yaz aylarında haftada 2, kış aylarında ise haftada 1 kere sulanmalıdır.</p>
            <p>Kategori: İç mekan</p>
        </div>
        <div class="plant-card">
            <img src="~/img/orkide.png" alt="Bitki Resmi">
            <h3>Orkide</h3>
            <p>Bakım: Ortalama olarak yaz aylarında haftada 2, kış aylarında ise haftada 1 kere sulanmalıdır.</p>
            <p>Kategori: İç mekan</p>
        </div>
        <div class="plant-card">
            <img src="~/img/lavanta.png" alt="Bitki Resmi">
            <h3>Lavanta</h3>
            <p>Bakım: Ortalama olarak yaz aylarında haftada 2, kış aylarında ise haftada 1 kere sulanmalıdır.</p>
            <p>Kategori: İç ve dış mekan</p>
        </div>
        <div class="plant-card">
            <img src="~/img/zambak.png" alt="Bitki Resmi">
            <h3>Zambak</h3>
            <p>Bakım: Ortalama olarak yaz aylarında haftada 2, kış aylarında ise haftada 1 kere sulanmalıdır.</p>
            <p>Kategori: İç mekan</p>
        </div>
        <div class="plant-card">
            <img src="~/img/ortanca.png" alt="Bitki Resmi">
            <h3>Ortanca</h3>
            <p>Bakım: Ortalama olarak yaz aylarında haftada 2, kış aylarında ise haftada 1 kere sulanmalıdır.</p>
            <p>Kategori: İç mekan</p>
        </div>
    </div>
</body>
</html>
